@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --black: #000000;
  --gray1: #5E6472;
  --gray2: #B3BEC5;
  --gray3: #DBE1E4;
  --gray4: #C5C3C6;
  --gray5: #BEC9CF;
  --silver: #C0C0C0;
  --gold: #DBE1E4;
  --copper: #B87333;
  --salmon: #FC9595; 
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: inherit;
  width: inherit;
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
}

h1 {
  font-size: 3rem;
}

.header {
  padding-top: 155px;
  padding-left: 340px;
  padding-right: 340px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.content {
  width: 100%;
  padding-top: 45px;
  padding-left: 340px;
  padding-right: 340px;
  background-color: var(--gray3);
  height: inherit;
}

.content .actions {
  margin-top: 105px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content .actions .focus {
  background-color: var(--gray2);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--white);
  border: none;
  font-size: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 63px;
  padding-right: 63px;
}

.content .actions .focus:hover {
  background-color: var(--gray5);
  cursor: pointer;
}

.content .actions .border {
  background-color: var(--gray3);
  border-color: var(--gray2);
  border-style: double;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--white);
  font-size: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 63px;
  padding-right: 63px;
}

.content .actions .border:hover {
  background-color: var(--gray5);
  cursor: pointer;
}

.header .border {
  background-color: var(--white);
  border-color: var(--gray2);
  border-style: double;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--gray2);
  font-size: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 63px;
  padding-right: 63px;
}

.header .border:hover {
  background-color: var(--gray5);
  cursor: pointer;
  color: var(--white);
}

.paragraph {
  text-align: justify;
  font-size: 26px;
  line-height: 32.87px;
  font-weight: 400;
}

.footer {
  padding-top: 45px;
  padding-left: 340px;
  padding-right: 340px;
  text-align: center;
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 10px;
} 

.content .cards {
  display: flex;
  flex-direction: column;
}

.content .card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 4px;
  line-height: 23.48px;
  margin-block-start: 16px;
}

.content .card .url {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.item a {
  text-decoration: none;
  color: inherit;
}

