<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="shortcut icon" href="../static/img/flaticon.png" type="image/x-icon">
  <title>Similaridades</title>

  <!-- Primary Meta Tags -->
  <title>Buscador de similaridades</title>
  <meta name="title" content="Buscador de similaridades">
  <meta name="description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://similaridades.naomilago.com/">
  <meta property="og:title" content="Buscador de similaridades">
  <meta property="og:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="og:image" content="../static/img/Similaridades.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://similaridades.naomilago.com/">
  <meta property="twitter:title" content="Buscador de similaridades">
  <meta property="twitter:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="twitter:image" content="../static/img/Similaridades.png">
</head>
<body>

  <div class="header">

    <h1> FAQ </h1>

    <button onclick="switchPage(id)" id="home" class="border">Home</button>

  </div>

  <div class="content">

    <h2 class="question">
      <strong>1. Quais tecnologias foram utilizadas?</strong> <br> <br>
    </h2>

    <p class="paragraph">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para a construção desta ferramenta, foram utilizadas as linguagens Python e JavaScript, bem como também as biliotecas Gensim, NLTK, Pandas, Numpy e Sklearn do Python. Para o deploy, foi utilizada a hospedagem Hostinger. <br> <br>
    </p>

    <h2 class="question">
      <strong>2. Qual a licença deste projeto?</strong> <br> <br>
    </h2>

    <p class="paragraph">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Este projeto é distribuido sob a licença Creative Commons Zero v1.0 Universal (CC0 1.0). <br> <br>
    </p>

    <h2 class="question">
      <strong>3. Como contribuir com o projeto?</strong> <br> <br>
    </h2>

    <p class="paragraph">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para contribuir, basta realizar um fork no repositório no Github. Como sugestão de próximos passos, tenho como objetivo melhorar a interface e também adicionar o percentual de similaridades.
    </p>

    <div class="footer">
      by Naomi Lago
    </div>

  </div>

  <script src="../static/scripts/app.js"></script>

</body>
</html>