<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="shortcut icon" href="../static/img/flaticon.png" type="image/x-icon">
  <title>Similaridades</title>

  <!-- Primary Meta Tags -->
  <title>Buscador de similaridades</title>
  <meta name="title" content="Buscador de similaridades">
  <meta name="description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://similaridades.naomilago.com/">
  <meta property="og:title" content="Buscador de similaridades">
  <meta property="og:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="og:image" content="../static/img/Similaridades.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://similaridades.naomilago.com/">
  <meta property="twitter:title" content="Buscador de similaridades">
  <meta property="twitter:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="twitter:image" content="../static/img/Similaridades.png">
</head>
<body>

  <div class="header">

    <h1> Encontrar similaridades </h1>

    <button onclick="switchPage(id)" id="home" class="border">Home</button>

  </div>

  <div class="content">

    <p class="paragraph">
      Digite as palavras ou termos que deseja encontrar similaridades abaixo: <br> <br>
    </p>

    <div class="form">
      <label for="pesquisa" class="label">Pesquisa:</label>
      <input type="text" class="text" name="pesquisa" id="input_text" />
      <!-- <img class=" input_icon" width=26 height=26 src='./assets/img/search_icon.png' /> -->
    </div>

    <div class="results" id='results'>
      <!-- Code for the ranking -->
    </div>

    <div class="illustration">
      <img src='../static/img/illustration.png' />
    </div>

    <div class="footer">
      by Naomi Lago
    </div>

  </div>

  <script src="../static/scripts/app.js"></script>

</body>
</html>