<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="shortcut icon" href="../static/img/flaticon.png" type="image/x-icon">
  <title>Similaridades</title>

  <!-- Primary Meta Tags -->
  <title>Buscador de similaridades</title>
  <meta name="title" content="Buscador de similaridades">
  <meta name="description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://similaridades.naomilago.com/">
  <meta property="og:title" content="Buscador de similaridades">
  <meta property="og:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="og:image" content="../static/img/Similaridades.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://similaridades.naomilago.com/">
  <meta property="twitter:title" content="Buscador de similaridades">
  <meta property="twitter:description" content="Ferramenta de inteligência artificial que foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos.">
  <meta property="twitter:image" content="../static/img/Similaridades.png">
</head>
<body>
  
  <div class="header">

    <h1> Um primeiro contato com Inteligência Artificial </h1>

  </div>

  <div class="content">

    <p class="paragraph">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boas-vindas ao robô de semelhanças em Português! <br> <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Esta ferramenta de inteligência artificial foi projetada para ajudar os usuários a identificar e explorar conexões entre palavras, frases e conceitos - com a mais recente tecnologia de processamento de linguagem natural. <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não é necessário nenhum conhecimento prévio de linguística ou informática. Comece a explorar as conexões entre as palavras e os conceitos para descobrir novas formas de pensar e compreender a língua.
    </p>

    <div class="actions">

      <button onclick="switchPage(id)" id="find_similarities" class="focus">Encontrar similaridades</button>

      <button onclick="switchPage(id)" id="credits" class="border">Créditos</button>

      <button onclick="switchPage(id)" id="faq" class="border">FAQ</button>

    </div>

    <div class="footer">
      by Naomi Lago
    </div>

  </div>

  <script src="../static/scripts/app.js"></script>
</body>
</html>